* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.title {
    text-align: center;
    margin: 20px 0;
    font-size: 90px;
    color: #333;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.chatbox {
    height: 400px;
    width: 100%;
    border: 1px solid #ddd;
    overflow-y: scroll;
    padding: 10px;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.user {
    color: blue;
}

.bot {
    color: green;
    background-color: #f1f1f1;
}

.input-container {
    margin-top: 10px;
    display: flex;
}

.input-container textarea {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    resize: none;
    min-height: 60px;
    height: 60px;
}

.input-container textarea:focus {
    outline: none;
}

@media screen and (max-width: 768px) {
    .input-container textarea {
        min-height: 40px;
        height: 40px;
    }
}

.input-container input { /* button */
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    border: none;
}

.input-container button {
    padding: 10px;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

.input-container button:hover {
    background-color: #3e8e41;
}

footer {
    margin-top: 20px;
    text-align: center;
}

footer p {
    font-size: 14px;
    color: #666;
}

@media (max-width: 768px) {
    .container {
        max-width: 400px;
    }
}

#dark-mode-toggle {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.dark-mode-toggle:hover {
    background-color: #333;
    color: #f1f1f1;
}

.dark-mode .title {
    color: #f1f1f1;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode .message.bot {
    color: #f1f1f1;
    background-color: #333;
}

.dark-mode footer p {
    font-size: 14px;
    color: #f1f1f1;
}

.dark-mode .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.dark-mode .chatbox {
    height: 400px;
    width: 100%;
    border: 1px solid #333;
    overflow-y: scroll;
    padding: 10px;
    background-color: #222;
    color: #f1f1f1;
}

.dark-mode .user {
    color: #87CEFA;
    /* a lighter shade of blue */
}

.sidebar {
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar button {
    display: block;
    width: 100%;
    padding: 20px;
    border: none;
    text-align: center;
    font-size: 16px;
    color: #000;
    background-color: #f2f2f2;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin: 20px 0;
    border-radius: 20px;
}

.sidebar button:hover {
    background-color: #4CAF50;
    color: #fff;
}