/*to overwrite the markdown styles*/
.hljs {
    background: #181818;
    color: #ffffff
}

html,
body {
    height: 100%;
}

.full-height-div {
    height: 100%;
}

/*external divs*/
.title-div {
    grid-area: title-div;
}

.bots-div {
    grid-area: bots-div;
}

.dark-mode-div {
    grid-area: dark-mode-div;
}

.censor-toggle-div {
    grid-area: censor-toggle-div;
}

.chatbox-div {
    grid-area: chatbox-div;
}

.author-div {
    grid-area: author-div;
}

.container-div {
    height: 100%;
    max-width: 1200px;
    /* for example */
    margin: 0 auto;
    /* center the container horizontally */
    display: grid;
    grid-template-columns: 0.5fr 2.2fr 0.3fr;
    grid-template-rows: 0.6fr 2.1fr 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "title-div title-div title-div"
        "bots-div chatbox-div censor-toggle-div"
        "dark-mode-div author-div .";
}
/*end of external divs*/
* { /*<html>*/
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background-color: #f1f1f1;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.title {
    text-align: center;
    margin: 20px 0;
    font-size: 90px;
    color: #333;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.chatbox {
    height: 400px;
    width: 100%;
    border: 1px solid #ddd;
    overflow-y: scroll;
    padding: 10px;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.user {
    color: blue;
}

.bot {
    color: green;
    background-color: #f1f1f1;
}

.input-container {
    margin-top: 10px;
    display: flex;
}

.input-container textarea {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    resize: none;
    min-height: 60px;
    max-height: 94px;
    height: 60px;
    overflow: auto;
}

.input-container textarea:focus {
    outline: none;
}

@media screen and (max-width: 768px) {
    .input-container textarea {
        min-height: 40px;
        height: 40px;
    }
}

.input-container input { /* send button */
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    border: none;
}

.input-container button {
    padding: 10px;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

.input-container button:hover {
    background-color: #3e8e41;
}

footer {
    margin-top: 20px;
    text-align: center;
}

footer p {
    font-size: 14px;
    color: #666;
}

.sidebar {
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar button {
    display: block;
    width: 100%;
    padding: 20px;
    border: none;
    text-align: center;
    font-size: 16px;
    color: #000;
    background-color: #f2f2f2;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin: 20px 0;
    border-radius: 20px;
}

.sidebar button:hover {
    background-color: #4CAF50;
    color: #fff;
}

.sidebar .bot-toggle {
    display: block;
    width: 100%;
    padding: 20px;
    border: none;
    text-align: center;
    font-size: 16px;
    color: #000;
    background-color: #f2f2f2;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin: 20px 0;
    border-radius: 20px;
}

.sidebar .bot-toggle:hover {
    background-color: #4CAF50;
    color: #fff;
}

.sidebar .bot-toggle.active {
    background-color: #87CEFA;
    color: #fff;
}

@media (max-width: 768px) {
    .container {
        max-width: 400px;
    }
}

#dark-mode-toggle { /* dark mode toggle button */
    position: absolute;
    bottom: 30px;
    left: 20px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.dark-mode-toggle:hover {
    background-color: #333;
    color: #f1f1f1;
}
/* dark mode styles */
.dark-mode .title {
    color: #f1f1f1;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode .message.bot {
    color: #f1f1f1;
    background-color: #333;
}

.dark-mode footer p {
    font-size: 14px;
    color: #f1f1f1;
}

.dark-mode .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff14;
    border-radius: 10px;
}

.dark-mode .chatbox {
    height: 400px;
    width: 100%;
    border: 1px solid #333;
    overflow-y: scroll;
    padding: 10px;
    background-color: #222;
    color: #f1f1f1;
}

.dark-mode .user {
    color: #87CEFA;
    /* a lighter shade of blue */
}

.dark-mode .input-container textarea {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    resize: none;
    min-height: 60px;
    max-height: 94px;
    height: 60px;
    background-color: #333;
    color: #fff;
    overflow: auto;
}

/* code box styles */
pre {
    background-color: #282c34;
    border-radius: 5px;
    color: #abb2bf;
    font-family: 'Fira Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.025em;
    margin: 10px 0;
    overflow: auto;
    padding: 10px 40px 10px 10px;
    position: relative;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding-right: 10px;
}

pre code {
    background-color: #282c34;
    border-radius: 5px;
    color: #abb2bf;
    display: block;
    font-family: 'Fira Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* text selection styles */
::-moz-selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

::selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

.copy-button {
    background-color: #4CAF50;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    padding: 5px 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
}

.copy-button:hover {
    background-color: #0069d9;
}

.copy-button:active {
    background-color: #0053a3;
}