<!DOCTYPE html>
<html>
  <head>
    <title>GPT Censor Free</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="icon" href="icon.ico" />
    <!-- make it circular -->
  </head>
  <body>
    <h1 class="title">GPT Censor Free</h1>
    <div class="container">
      <div class="chatbox" id="chatbox">
        <div class="message bot">Hi, how can I help you?</div>
      </div>
      <div class="input-container">
        <input
          type="text"
          id="message"
          placeholder="Type your message here..."
        />
        <button onclick="sendMessage()">Send</button>
      </div>
    </div>
    <footer>
      <p>Made by Aymen Hmani (Lime1) 🍋</p>
    </footer>
    <script src="../static/script.js"></script>
  </body>
</html>
