<!DOCTYPE html>
<html>
  <head>
    <title>GPT Censor Free</title>
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css"
    />
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>
    <!-- local -->
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="icon" href="{{ url_for('static', filename='icon.ico') }}" />
  </head>
  <body>
    <div class="container-div">
      <div class="title-div"><h1 class="title">GPT Censor Free</h1></div>
      <div class="bots-div">
        <div class="sidebar">
          <button onclick="sage()">Sage</button>
          <button onclick="gpt()">gpt 3.5 turbo</button>
        </div>
      </div>
      <div class="dark-mode-div">
        <button id="dark-mode-toggle">Toggle Dark Mode</button>
      </div>
      <div class="censor-toggle-div"><!--SOON--></div>
      <div class="chatbox-div">
        <div class="container">
          <div class="chatbox" id="chatbox">
            <div class="message bot">Hi, how can I help you?</div>
          </div>
          <div class="input-container">
            <textarea
              id="message"
              placeholder="Type your message here..."
            ></textarea>
            <button onclick="sendMessage()">Send</button>
          </div>
        </div>
      </div>
      <div class="author-div">
        <footer>
          <p class="author">Made by Aymen Hmani (Lime1) 🍋</p>
        </footer>
      </div>
    </div>
    <script src="../static/script.js"></script>
  </body>
</html>
